body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 83.33%;
}

h1 {
    padding: 0.5em;
    font-size: 1.6em;
}

h2 {
    margin: 0.5em 0;
    font-size: 1.4em;
}

p {
    margin: 0.5em;
}

.ui-widget {
    font-size: 1em;
}

#settings_container {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em 2em;
    background: #ddf;
    border: 1px solid #bbd;
    width: 10em;
    text-align: center;
}
#settings, #event_edit_container {
    display: none;
}

#cat_div {
    width: 15%;
    float: left;
    margin: 10px;
}


#calendar {
    width: 55%;
    float: left;
    margin: 10px;
}

#todo_div {
    width: 20%;
    float: right;
    margin: 10px;
}