body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 83.33%;
}

h1 {
    padding: 0.5em;
    font-size: 1.6em;
}

h2 {
    margin: 0.5em 0;
    font-size: 1.4em;
}

p {
    margin: 0.5em;
}

.ui-widget {
    font-size: 1em;
}

#settings_container {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em 2em;
    background: #ddf;
    border: 1px solid #bbd;
    width: 10em;
    text-align: center;
}
#settings, #event_edit_container {
    display: none;
}

#calendar {
    width: 70%;
    float: left;
    margin-left: 15px;
}

#todo_div {
    width: 25%;
    float: right;
    margin-right: 25px;
    padding-top: 20px;

}
#repeat_datepicker
{
    float: right;
    margin-top: 1px;
}
#end_hour
{
    margin-left: 5px;
}
#start_hour
{
    margin-left: 5px;
}

/*this stuff is for the autocomplete*/
/*! jQuery UI - v1.9.2 - 2012-11-23
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* Copyright 2012 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-menu { list-style:none; padding: 2px; margin: 0; display:block; outline: none; }
.ui-menu .ui-menu { margin-top: -3px; position: absolute; }
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; width: 100%; }
.ui-menu .ui-menu-divider { margin: 5px -2px 5px -2px; height: 0; font-size: 0; line-height: 0; border-width: 1px 0 0 0; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 2px .4em; line-height: 1.5; zoom: 1; font-weight: normal; }
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; }

.ui-menu .ui-state-disabled { font-weight: normal; margin: .4em 0 .2em; line-height: 1.5; }
.ui-menu .ui-state-disabled a { cursor: default; }

/* icon support */
.ui-menu-icons { position: relative; }
.ui-menu-icons .ui-menu-item a { position: relative; padding-left: 2em; }

/* left-aligned */
.ui-menu .ui-icon { position: absolute; top: .2em; left: .2em; }

/* right-aligned */
.ui-menu .ui-menu-icon { position: static; float: right; }




/*this is for the top bar*/
/*make it so dialog box doesnt block out everything else*/
.ui-widget-overlay{
    background:transparent;
}



/* Main */
/*http://www.red-team-design.com/css3-dropdown-menu is the basis for the dropdown menu*/
/*this was minorly edited but essentially is the dropdown menu used in our calendar*/
#menu{
    width: 100%;
    margin: 0;
    padding-top: 20px;
    margin-bottom: 35px;
    list-style: none;
    background: #4682b4;
    background: -moz-linear-gradient(#4682b4, #4682b4);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#4682b4, #4682b4);
    background: -o-linear-gradient(#4682b4, #4682b4);
    background: -ms-linear-gradient(#4682b4, #4682b4);
    background: linear-gradient(#4682b4, #4682b4);
    /*get rid of rounded edges*/
    /*-moz-border-radius: 50px;*/
    /*border-radius: 50px;*/
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li{
    float: right;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a{
    float: right;
    height: 25px;
    padding-right: 50px;

    /*color of text in the menu*/
    color: #d0d0d0;
    text-transform: uppercase;
    font: bold 16px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
    /*color when you hover*/
    color: #ffffff;
}

*html #menu li a:hover{ /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul{
    display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #4682b4;
    background: -moz-linear-gradient(#4682b4, #4682b4);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4682b4),color-stop(1, #4682b4));
    background: -webkit-linear-gradient(#4682b4, #4682b4);
    background: -o-linear-gradient(#4682b4, #4682b4);
    background: -ms-linear-gradient(#7f8cb4, #7f8cb4);
    background: linear-gradient(#7f8cb4, #7f8cb4);
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom-color: gray;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #f5f5f5, 0 1px 0 #f5f5f5;
    -webkit-box-shadow: 0 1px 0 #f5f5f5, 0 1px 0 #f5f5f5;
    box-shadow: 0 1px 0 #f5f5f5, 0 1px 0 #f5f5f5;
}

#menu ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
    height: 10px;
    width: 150px;
}

#menu ul a:hover{
    background: #0186ba;
    background: -moz-linear-gradient(#04acec,  #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec,  #0186ba);
    background: -o-linear-gradient(#04acec,  #0186ba);
    background: -ms-linear-gradient(#04acec,  #0186ba);
    background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    /*-moz-border-radius: 5px 5px 0 0;*/
    /*-webkit-border-radius: 5px 5px 0 0;*/
    /*border-radius: 5px 5px 0 0;*/
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a{
    /*-moz-border-radius: 0 0 5px 5px;*/
    /*-webkit-border-radius: 0 0 5px 5px;*/
    /*border-radius: 0 0 5px 5px;*/
}

/* Clear floated elements */
#menu:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

.notificationClass{
    color: #f5f5f5;
    width: 100%;
    margin: 5px, 5px, 0, 0;
    font-size: 14px;
    font: helvetica;
}

.align_left {
    width: 24%;
    float: left;
    text-align: left;

}

.align_right {
    width: 60%;
    float: left;
    text-align: left;

}

.align_datepick {
     width: 27%;
     float: right;
     text-align: left;
 }

.align_lastpick {
    width: 27%;
    float: right;
    text-align: right;
}




/*#menu{*/
    /*padding:0;*/
    /*margin:0;*/
/*}*/

/*#menu*/