<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {#    various css#}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/categories.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/cupertino/jquery-ui.css' />
    <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/todo.css' %}" type="text/css" />


    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
        var jq183 = jQuery.noConflict();
    </script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        var jq192 = jQuery.noConflict();
    </script>

    {#    jquery#}
    {#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>#}
    {#    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>#}
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>


    {#    jquery ui#}
    <script type='text/javascript' src='http://code.jquery.com/ui/1.7.2/jquery-ui.js'></script>
    {#    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>#}
    {#    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js"></script>#}
    {#    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>#}



    <script>
        {#        need jquery 1.92 ui for datepicker so run it here#}
        $(function() {
            jq192( "#start_datepicker" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });

    </script>
    <script>
        {#        need more recent version of jquery ui for this to work properly so apply it specifically to this#}
        $(function() {
            jq192( "#end_datepicker" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>

    <script>
        {#        need more recent version of jquery ui for this to work properly so apply it specifically to this#}
        $(function() {
            jq192( "#repeat_datepicker" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>

    {#    our javascript#}
    <script type='text/javascript' src="{%  static 'js/fullcalendar.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/main.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/todo.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/cal.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/categories.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/event_edit.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/jquery.keyfilter.js' %}"></script>


</head>
<body>
<h1>Harvard Planner</h1>
<div id="settings_container">
    <button type="button" id="settings_button">Settings</button>
    <button type="button" id="logout_button" onclick="location.href='logout'"> Logout</button>
</div>
<div id='calendar'></div>
<div id="todo_div">
    <h3>Add Item To Do</h3>
    <form>
        <input type="text" id="todo_input"/>
        <a href="javascript: void(0)" id="add-item">Add</a>
    </form>
    <br/>
    <ul id="items" class="sortable"></ul>
</div>
{#<div id="event_edit_container">#}
{#    <form>#}
{#        <input type="hidden" />#}
{#        <ul>#}
{#            <li>#}
{#                <label for="title">Title: </label><input id="title"  type="text"/>#}
{#                <label for="share">Share with: </label>#}
{#                <select id="share"></select>#}
{#                <label for="repeat_check">Repeat? </label><input id="repeat_check" type="checkbox">#}
{#            </li>#}
{#        </ul>#}
{#    </form>#}
{#</div>#}
<div id="event_edit_container">
    <form>
        <input type="hidden" />
        <ul>
            <li>
                <label for="title">Title:</label><input id="title"  type="text" size="37" maxlength="37"/><br/>
                {#                <label for="share">Share with: </label>#}
                {#                <select id="share"></select>#}
                <label for="start_datepicker">Start:</label><input id="start_datepicker" type="text" size="11" maxlength="10"/>
                <label for="start_hour">    </label><input class='hour_filter' id="start_hour" type="text" size="2" maxlength="2"/>
                <label for="start_min"> : </label><input class='min_filter' id="start_min" type="text" size="2" maxlength="2"/>
                <select id="start_ampm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select> <br/>
                <label for="end_datepicker">  End: </label><input id="end_datepicker" type="text" size="11" maxlength="10"/>
                <label for="end_hour">  </label><input class='hour_filter' id="end_hour" type="text" size="2" maxlength="2"/>
                <label for="end_min"> : </label><input class='min_filter' id="end_min" type="text" size="2" maxlength="2"/>
                <select id="end_ampm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select> <br/>
                <label for="allDay"> All Day? </label><input id="allDay" type="checkbox">
                <label for="repeat_rule">Repeat:</label>
                <select id="repeat_rule">
                    <option value ="">none</option>
                    <option value ="1">daily</option>
                    <option value="7">weekly</option>
                    <option value="14">biweekly</option>
                </select>
                <div id="end_repeat">
                    <label for="repeat_datepicker">End: </label><input id="repeat_datepicker" type="text" size="11" maxlength="10"/>
                </div>
            </li>
        </ul>
    </form>
</div>
<div id="repeat_prompt">
    <form>
        <input type="hidden" />
    </form>
</div>
<div id="settings">
    <h2>Settings</h2>
    <p>
        This could be the kind of way we implement the settings popup window, or even some kind of about this project
        popup.
    </p>
</div>
</body>
</html>
